.content {
  width: 70%;
  margin: 30px auto;

  button {
    position: relative;
    svg {
      position: absolute;
      left: 10px;
      width: 24px;
      height: 24px;
    }
  }
}
.title {
  font-size: 18px;
  font-weight: 500;
  color: black;
  margin-bottom: 25px;
}
.miniButtons {
  display: flex;
  justify-content: space-between;
  button {
    height: 40px;
    svg {
      position: static;
    }
    &:nth-of-type(2) {
      margin: 0 15px;
    }
  }
}

.formBtn {
  margin-top: 20px;
  color: white;
  background-color: #4683d9;

  &:hover {
    background-color: #4683d9;
    border-color: darken(rgb(246, 242, 252), 15%);
    box-shadow: 0 0 0 3px rgba(231, 129, 252, 0.12);
    transform: scale(1.02);
  }
}
.backTitle {
  display: flex;
  align-items: center;

  svg {
    position: relative;
    margin-right: 10px;
    top: -1px;
    cursor: pointer;
    &:hover {
      color: #4683d9;
    }
  }
}
