.titleField {
  width: 100%;
  margin-bottom: 10px;
  &:before,
  &:after {
    display: none !important;
  }
  input {
    font-size: 36px !important;
    font-weight: 700;
  }
}

.editor {
  font-size: 18px !important;
  height: calc(100vh - 220px);
}

.btn {
  color: black;
  background-color: rgb(231, 222, 245);

  &:hover {
    background-color: #fff;
    border-color: darken(rgb(246, 242, 252), 15%);
    box-shadow: 0 0 0 3px rgba(231, 129, 252, 0.12);
  }
}
