.followBtn {
  min-width: 30px;
  width: 35px;
  height: 30px;

  color: rgb(155, 153, 153);
  background-color: rgb(231, 222, 245);

  &:hover {
    background-color: #fff;
    border-color: darken(rgb(246, 242, 252), 15%);
    box-shadow: 0 0 0 3px rgba(231, 129, 252, 0.12);
  }
}
